<%if listings.count > 0%>
  <table border=1>
    <tr>
      <% if index %>
      <td>
        <b>
          Barbie Name
        </b>
      </td>
      <%end%>
      <td>
        <b>
          Quantity
        </b>
      </td>
      <td>
        <b>
          Sold By
        </b>
      </td>
      <td>
        <b>
          Actions
        </b>
      </td>
    </tr>
    <%listings.each do |l|%>
      <% if l.product %> <!-- Added this check to prevent listings without product showing up -->
        <tr>
          <% if index%>
            <td>
              <%= l.product.name%>
            </td>
          <% end %>
          <td>
            <%=l.quantity%>
          </td>
          <td>
            <%=l.user.username%>
          </td>
          <td>
            <% if l.user == current_user %>
              <%=link_to "Edit", edit_listing_path(l) %>
              <%=button_to "Delete", l, method: :delete%>
            <% end %>
          </td>
        </tr>
      <%end%>
    <%end%>
  </table>
<%end%>