<%=render(partial: "application/errors", locals: {errors: @listing.errors.full_messages})%>

  <%if @product%>
    <h3><%=@product.name%></h3>
  <%end%>

<%= form_for(@listing, url: form_url_helper(@product)) do |f|%>
  <%=f.label "Quantity"%>
  <%=f.number_field(:quantity)%>
  <%if !@product%>
    <%=f.label "Barbie Name"%>
    <%=f.collection_select(:product_id, @products, :id, :name) %>
  <%end%>
  <%=f.submit("Save")%>
<%end%>