<!DOCTYPE html>
<html>
  <head>
    <title>Barbie Market Seller Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table style='width: 100%'>
      <tr>
        <td>
          <%= image_tag("barbie.png", width: 100) %>
        </td>
        <%if current_user %>
          <td>
            <%=link_to "All Barbies", products_path %>
          </td>
          <td>
            <%=link_to "New Barbie", new_product_path %>
          </td>
          <td>
            <%=link_to "New Listing", new_listing_path %>
          </td>
          <td>
            <%=link_to "All Listings", listings_path %>
          </td>
          <td>
            <%=link_to "My Barbies", user_products_path(current_user) %>
          </td>
          <td>
            <%= button_to "Log Out", logout_path, method: :post %>
          </td>
        <%else%>
          <td>
            <%= link_to "Log In", login_path %>
          </td>
          <td>
            <%= link_to "Sign Up", signup_path %>
          </td>
        <%end%>
        </tr>
    </table>

    <%=flash[:message]%>
    <%= yield %>
  </body>
</html>
